fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
passlib[bcrypt]
bcrypt
python-multipart
email-validator
fastapi-mail
pydantic-settings
alembic

langchain
langchain-community
langchain-openai
langchain-chroma
chromadb
google-generativeai
langchain-google-genai

pypdf
python-docx
openpyxl
playwright
pyngrok
langchain-text-splitters
apscheduler
jinja2